*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    background-color: mediumturquoise ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    justify-content: center;
    border: 1px solid black;
    gap: 15px;
}

.resultado {
    text-align: center;
    height: 100px;
    width: 180px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    width: 180px;
    height: 30px;
}

button{
    width: 80px;
    height: 30px;
    border-radius: 25px;
}